
.taskCard {
    display: flex;
    width: 80%;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    justify-content: space-between;
    margin-top: 1em;
}

.cardActions {
    display: flex;
    gap: 1em;
}

.actionButton {
    width: 4em;
    height: 2em;
    background-color: lightblue;
    border: none;
    border-radius: 8px;
}

.deleteButton {
    background-color: coral;
}

.taskNameContainer {
    display: flex;
    gap: 1em;
}